* {
  padding: 0;
}
body {
  margin: 50px;
  padding: 50px;
  background-color: red;
  font-size: 50px;
}

h1 {
  font-size: 50px;
  color: red;
}
h5 {
  width: 50ox;
}
p {
  color: gray;
} p {
    color: ;
}
